* {
    margin: 0;
    font-family: 'Archivo Black', sans-serif;


}

body, html {
    height: 100%;
}

#bg {
    background: url(bg6.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: 15;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #444; */
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#fLeft {
    float: left;
    border-right: 1px solid #bbb;
}

#fRight {
    float: right;
    border-left: 1px solid #bbb;
}

nav li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: #fff;
    
}

a:link {
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    margin-top: 5%;
    color: #000;
}

h2 {
    text-align: center;
    color: #000;
    font-size: 2.5em;
    margin-top: 20%;
    margin-bottom: 2%;
}

button {
    display: inline-block;
    min-width: 20%;
    height: 50px;
    margin-left: 10%;
    font-size: 1.5em;
    color: #fff;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
    position: fixed;
    bottom: 0;
    height: 0 auto;
    width: 100%;
    background-color: white;
    z-index: 10;
}

@media only screen and (max-width: 1200px) {

    h2 {
        text-align: center;
        color: #000;
        font-size: 2.5em;
        margin-top: 28%;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 950px) {

    h2 {
        text-align: center;
        color: #000;
        font-size: 2.5em;
        margin-top: 35%;
        margin-bottom: 2%;
    }
}
@media only screen and (max-width: 600px) {

    h2 {
        text-align: center;
        color: #000;
        font-size: 2.5em;
        margin-top: 30%;
        margin-bottom: 2%;
    }
}
@media only screen and (max-width: 500px) {


    h2 {
        text-align: center;
        color: #000;
        font-size: 2.5em;
        margin-top: 105%;
        margin-bottom: 2%;
    }
    button {
        display: inline-block;
        min-width: 20%;
        height: 50px;
        margin-left: 8%;
        margin-bottom: 10%;
        font-size: 1em;
        color: #fff;
        background: #283048;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}



